@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap'); 

:root {
    --background-color: 34 , 195 , 83; 
    --form-background: 255 , 255 , 255 , 1;
    --input-background: 255 , 255 , 255;
    --under-title-line: 34 , 195 , 83;
    --input-box-shadow: 0 , 0 , 0 , 0.17;
    --input-border: 34 , 195 , 83;
    --text-color: 0 , 0 , 0;
    --input-text-color: 0 , 0 , 0;
    --submit-btn: 34 , 195 , 83;
    --radio-btn: 34 , 195 , 83 , 0.5;
    --radio-btn-border: 34 , 195 , 83;
    --dark-mode-btn: 255 , 255 , 255;
}

.dark-theme {
    --background-color: 25 , 25 , 26;
    --form-background: 35 , 35 , 37 , 0.8;
    --input-background: 40 , 40 , 41;
    --under-title-line: 255 , 255 , 255;
    --input-box-shadow: 255 , 255 , 255 , 0;
    --input-border: 255 , 255 , 255;
    --text-color: 255 , 255 , 255;
    --input-text-color: 0 , 0 , 0;
    --submit-btn: 40 , 40 , 41;
    --radio-btn: 55 , 55 , 57;
    --radio-btn-border: 255 , 255 , 255;
    --dark-mode-btn: 40 , 40 , 41 , 0.8;
    transition: all 0.3s ease;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: rgba(var(--text-color) , 1);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgba(var(--background-color) , 1);
    padding: 20px;
}

.container {
    background-color: rgba(var(--form-background));
    max-width: 700px;
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.container .title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2.5px;
    width: 30px;
    background: rgba(var(--under-title-line) , 1);
}

.user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.user-details .input-box {
    width: calc(100% / 2 - 20px);
    margin: 10px 0 10px 0;
}

.user-details .input-box input {
    width: 100%;
    height: 45px;
    padding: 10px;
    border-radius: 8px;
    border: 0;
    box-shadow: 0 0 7px 0 rgba(var(--input-box-shadow));
    outline: none;
    font-size: 16px;
    margin-top: 8px;
    background-color: rgba(var(--input-background) , 1);
    /* color: rgba(var(--input-text-color) , 1); */
}

.user-details .input-box input:focus {
    border: 1px solid rgba(var(--input-border) , 0.7);
    box-shadow: 0 0 7px 0 rgba(var(--input-box-shadow));
} 
.user-details .input-box input:valid{
    border: 1px solid rgba(var(--input-border) , 0.7);
    box-shadow: none;
}

.user-details .details {
    font-weight: 500;
    margin-left: 2.5px;    
}

.gender-details {
    margin-left: 5px;
}

.gender-details .gender-title {
    font-size: 18px;
    font-weight: 500;
}

.gender-details .category {
    display: flex;
    justify-content: space-between;
    width: 80%;
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
}

.gender-details .category label {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.gender-details .category label:hover {
    transform: scale(1.075);
}

.gender-details .category .dot {
    height: 20px;
    width: 20px;
    background-color: rgba(var(--radio-btn));
    border: 5px solid transparent;
    border-radius: 50%;
    margin-right: 5px;
    transition: all 0.2s ease;
}

#dot-1:checked ~ .category label .one ,
#dot-2:checked ~ .category label .two ,
#dot-3:checked ~ .category label .three {
    background: rgba(var(--input-background) , 1);
    border: 5px solid rgba(var(--radio-btn-border));

}

.gender-details [type="radio"] {
    display: none;
}

.button-container {
    height: 45px;
    margin: 45px 5px 10px 5px;
}

.button-container input {
    width: 100%;
    height: 100%;
    color: #FFF;
    background: rgba(var(--submit-btn) , 1);
    border: 0;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.button-container input:hover {
    transform: scale(1.025);
}

.darkModeBtn {
    position: fixed;
    right: 25px;
    bottom: 25px;
    right: 25px;
    width: 45px;
    padding: 5px;
    background: rgba(var(--dark-mode-btn));
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 0 5px 0 rgba(var(--text-color) , 0.2);
}

.darkModeBtn:hover {
    transform: scale(1.075);
}

@media (max-width: 584px) {
    .container {
        max-width: 100%;
    }

    .user-details .input-box {
        width: 100%;
    }

    body {
        padding: 500px 20px 550px 20px;
    }

    .gender-details .category {
        width: 100%;
        flex-direction: column;
    }

    .gender-details .category label {
        margin-top: 5px;
    }
}